<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shelter Name Here</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/b04d4d5e79.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
  <header>
    <h1>
      <i class="fa-solid fa-paw"></i><a href="/">   Endless Pawsibilities   </a><i class="fa-solid fa-paw"></i>
    </h1>
    <nav>
      <a href="/login">login</a>
       <button id="logout" class="btn-no-style">logout</button>
    </nav>
  </header>
  
    <main>
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

</body>

</html>
