<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shelter Name Here</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/b04d4d5e79.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <i class="fa-solid fa-paw"></i><a href="/"> Endless Pawsibilities </a><i class="fa-solid fa-paw"></i>
      </h1>
      <nav>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{ body }}}
   
    <div>
      {{#if loggedIn}}
      <div>
        <form class="update-form">
          <h3 class="animal-header">
            Animal Update Form
          </h3>
          <div>
            <label for="name-update">name:</label>
            <input type="text" id="name-update" />
          {{!-- </div> --}}
          {{!-- <div> --}}
            <label for="species-update">species:</label>
            <input type="text" id="species-update" />
          {{!-- </div> --}}
          {{!-- <div> --}}
            <label for="age-update">age:</label>
            <input type="number" id="age-update" />
          {{!-- </div> --}}
          {{!-- <div> --}}
            <label for="weight-update">weight:</label>
            <input type="number" id="weight-update" />
          {{!-- </div> --}}
          {{!-- <div> --}}
            <label for="special-update">special needs:</label>
            <input type="radio" id="special-update" />
          {{!-- </div> --}}
          {{!-- <div> --}}
            <label for="foster-update">foster id:</label>
            <input type="number" id="foster-update" />
          </div>
          <div>
            <button type="submit">signup</button>
          </div>
        </form>
      </div>
      <script src="/javascript/update.js"></script>
      {{/if}}
    </div>
 </main>
    <footer>

    </footer>
  </div>
  <script src="/javascript/logout.js"></script>
</body>

</html>