<div>This is the employee dashboard</div>
<form class="update-form">
  <div>
    <label for="name-update">name:</label>
    <input type="text" id="name-update" />
  </div>
  <div>
    <label for="species-update">species:</label>
    <input type="text" id="species-update" />
  </div>
  <div>
    <label for="age-update">age:</label>
    <input type="number" id="age-update" />
  </div>
  <div>
    <label for="weight-update">weight:</label>
    <input type="number" id="weight-update"/>
  </div>
  <div>
    <label for="special-update">special needs:</label>
    <input type="radio" id="special-update"/>
  </div>
  <div>
    <label for="foster-update">foster id:</label>
    <input type="number" id="foster-update"/> 
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>