{{!-- no species icons because almost all fontawesome's animal icons are pro-only --}}
<ul class="animal-list">
    {{#each animals}}
    <li class="animal">
        <div class="animal-header">
            <h3>{{name}}</h3>
        </div>

        <div class="animal-info">
            <p>{{species}}</p>

            <p>{{age}} years old</p>

            <p>{{weight}} lb.</p>
        </div>

        <div class="animal-foster-info">
            {{#if foster_id}}
            <p>With foster</p>
            {{/if}}
            
            {{#if special_needs}}
            <p>Needs special care</p>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ul>