{{!-- no species icons because almost all fontawesome's animal icons are pro-only --}}
<ul class="animal-list">
    {{#each animals}}
    <li class="animal">
        <div class="animal-header">
            <h3>{{name}}</h3>
        </div>

        <div class="animal-info">
            <p>{{capitalize species}}</p>

            <p>{{age}} years old</p>

            <p>{{weight}} lb.</p>
        </div>

        <div class="animal-foster-info">
            {{#if foster_id}}
            <p>With foster</p>
            {{/if}}
            
            {{#if special_needs}}
            <p>Needs special care</p>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ul>

<div>
    {{#if loggedIn}}
      <div>
        <form class="update-form">
          <h3 class="animal-header">
            Animal Form
          </h3>
          <div>
            <label for="name-update">name:</label>
            <input type="text" id="name-update" />

            <label for="species-update">species:</label>
            <input type="text" id="species-update" />

            <label for="age-update">age:</label>
            <input type="number" id="age-update" />

            <label for="weight-update">weight:</label>
            <input type="number" id="weight-update" />

            <label for="special-update">special needs:</label>
            <input type="checkbox" id="special-update" />

            {{!-- <label for="foster-update">foster id:</label>
            <input type="number" id="foster-update" /> --}}
          </div>
          <div>
            <button type="submit">add animal</button>
          </div>
        </form>
      </div>
    <script src="/javascript/update.js"></script>
    {{/if}}
</div>